.split-pane:horizontal > .split-pane-divider {
   -fx-padding: 1 ;
}
.split-pane:vertical > .split-pane-divider {
   -fx-padding: 1 ;
}
.split-pane {
    -fx-background-color: #333333;
    -fx-border-color: #333333;
}
.text-input {
    -fx-text-fill: #cccccc;
}

.scroll-pane {
    -fx-background-color: #333333;
    -fx-background-insets: 0;
    -fx-padding: 0;
}

.scroll-pane:focused {
    -fx-background-insets: 0;
}

.scroll-pane .corner {
    -fx-background-insets: 0;
}

.paragraph-text {
    -fx-tab-size: 4
}
.paragraph-text .text {
    -fx-fill: #cccccc
}

.text-area {
    -fx-background-insets: 0;
    -fx-background-color: transparent, #333333, transparent, #333333;
}

.text-area .content {
    -fx-background-color: transparent, #333333, transparent, #333333;
}

.text-area:focused .content {
    -fx-background-color: transparent, #333333, transparent, #333333;
}

.text-area:focused {
    -fx-highlight-fill: #cccccc;
}

.text-area .content {
    -fx-padding: 10px;
    -fx-text-fill: #cccccc;
    -fx-highlight-fill: #cccccc;
}